.os-taskbar-menu {
  height: 0px;
  overflow: hidden;
  transition: 0.3s ease;
}

.os-taskbar-separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.os-taskbar-separator::before,
.os-taskbar-separator::after {
  content: "";
  border-bottom: 1px solid #c6c6c6b5;
}

.os-taskbar-separator:not(:empty)::before {
  flex: 0.1;
  margin-right: 0.25em;
}

.os-taskbar-separator:not(:empty)::after {
  margin-left: 0.25em;
  flex: 1;
}

.start-left {
  flex: 2.2;
  height: 100%;
}

.start-right {
  flex: 3.2;
  height: 100%;
  opacity: 1;
  position: absolute;
  bottom: -457px;
}

.start-left,
.start-right {
  opacity: 0;
  transition: 0.2s ease;
}

.start-menu {
  height: 0px;
  transition: 0.2s ease;
  overflow: hidden;
}

.os-startbutton {
  transition: 0.2s;
  width: 34px;
  height: 33px;
  position: absolute;
  left: 9px;
  top: calc(50% + 1px);
  transform: translateY(-50%);
  opacity: 0.8;
}

.os-startbutton:hover {
  opacity: 1;
}
.os-startbutton:active {
  transform: translateY(calc(-50% - 3px)) rotate(170deg) translateX(1px);
}

.start-over {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 10px;
  justify-content: center;
  box-sizing: border-box;
  align-content: center;
  flex-direction: row;
  transition: 0.1s ease;
  flex-wrap: wrap;
  color: white;
  padding: 20px;
  position: relative;
}

.start-app {
  width: calc(100% - 10px);
  min-height: 29px;
  font-size: 13px;
  padding-left: 35px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 20%);
  background: #44444438;
  border: 0.7px solid rgb(216 216 216 / 23%);
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(8px);
  box-sizing: border-box;
  margin: 6px auto;
  transition: 0.3s cubic-bezier(0.25, 0.1, 0.21, 1.54);
  border-radius: 6px;
}

.start-app:before {
  width: 29px;
  height: 100%;
  position: absolute;
  left: 0;
  background: white;
  top: 50%;
  transform: translateY(-50%);
  aspect-ratio: 20/20;
  border-radius: 6px 0 0 6px;
  content: "";
  z-index: 0;
}

.start-app-icon {
  width: 29px;
  height: 29px;
  position: absolute;
  left: 0;
  padding: 5px;
  background: white;
  top: 50%;
  transform: translateY(-50%);
  aspect-ratio: 20/20;
  border-radius: 6px 0 0 6px;
}

.start-app:hover {
  transform: scale(1.05);
  background: rgb(255, 255, 255, 0.05);
}
.start-app:active {
  filter: brightness(0.8);
}
.start-results {
  padding-top: 10px;
  overflow-y: scroll;
  height: 333px;
  width: 100%;
  border-radius: 5px;
}

.os-taskbar-cont,
.os-taskbar-cont:before {
  min-width: 500px;
  min-height: 45px;
  transition: 0.3s ease;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin-bottom: 5px;
}

.os-taskbar-cont:before {
  height: 100%;
}

.os-taskbar-cont,
.os-taskbar-under {
  box-shadow: 0 0 1rem 0 rgb(0 0 0/20%);
  background: #ffffff0f;
}

.os-taskbar-cont {
  border-radius: 19px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  height: 47px;
  z-index: 399;
  border: 1px solid rgb(255 255 255/16%);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  /* margin-top: 745px; */
  position: absolute;
}

.os-taskbar-under {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  filter: blur(5px);
  transition: 0.3s ease;
  border-radius: 17px;
  z-index: -2999;
}

.os-taskbar-cont:before {
  bottom: 108px;
  background: inherit;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
}

.launchpad-button {
  width: 67px;
  height: 109px;
  margin: -7px;
  margin-bottom: -2px;
}

.os-dock {
  width: 100%;
  height: 45px;
  transition: 0.2s ease;
  display: flex;
  margin-top: auto;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  position: relative;
  flex-direction: row;
}

.os-dock-item {
  display: flex;
  transition:
    0.4s,
    0.2s transform ease;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.os-dock-indicator {
  opacity: 0;
  position: absolute;
  width: 3px;
  height: 3px;
  bottom: -6px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
}

.os-dock-item img {
  width: 33px;
  height: 32px;
  border-radius: 9px;
  padding: 3px;
  -webkit-box-shadow: -3px 7px 26px 4px rgb(0 0 0 / 30%);
  box-shadow: -3px 7px 26px 4px rgb(0 0 0 / 30%);
  background: white;
}
.os-dock-item img .nobg {
  width: 49px;
  height: 48px;
  border-radius: 9px;
  background: transparent;
}
.os-dock-item-indic {
  width: 4px;
  height: 4px;
  margin-top: 1.5px;
  background: #ffffffa3;
  border-radius: 200px;
  opacity: 0;
}

.os-dock-resize {
  width: 0.5px;
  height: 54px;
  background: #ffffff;
  margin-left: 7px;
  margin-right: 7px;
  border-radius: 20px;
  transition: 0s ease;
}

.os-dock-apps {
  min-width: 200px;
  display: flex;
  flex: 1;
  align-items: center;
  gap: 10px;
  margin-top: -2px;
  justify-content: center;
}

.os-dock-clock {
  text-align: center;
  margin-right: 9px;
  color: white;
  margin-top: -2px;
  cursor:
    url("/xen/cursors/pointer_24.svg") 6 6,
    pointer;
  border-radius: 4px;
  padding: 0px 2px;
  font-size: 15px;
}

.os-dock-battery {
  width: 30px;
  height: 35px;
  transform: translateX(-18px);
  position: relative;
  z-index: -1;
  margin-left: auto;
  margin-right: 5px;
}

#os-battery-bar {
  width: 215px;
  position: absolute;
  height: 80px;
  transition: 0.5s ease;
}

.os-dock-battery svg:first-of-type {
  width: 50px;
  height: 35px;
  margin: 0;
  transform: rotate(-90deg) translateX(11px) translateY(12px);
}

.os-dock-clock:active {
  background: rgb(255, 255, 255, 0.15);
}

.os-dock-trash-img {
  height: 58px;
  width: 48px;
  background: none;
  box-shadow: none;
}

.os-dock-item-trash img {
  height: 58px;
  width: 48px;
  border-radius: 5px;
  box-shadow: none;
  background: none;
}

.wiki-search {
  height: 100px;
  align-items: flex-start;
}

.wiki-info {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.wiki-title {
  margin: 0;
}
