.drag,
.drag:before {
  position: absolute;
  background: #0000001a;
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
  border-radius: 5px 5px 12px 12px;
}

.drag {
  box-shadow: 0 8px 16px rgb(0 0 0/25%);
  width: 500px;
  height: 300px;
  border-radius: 5px 5px 12px 12px;
  resize: auto;
  will-change: transform;
  transition: 0.05s left ease, 0.05s top ease;
  border: 0.4px solid rgb(255 255 255 / 20%);
}

.drag:before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  bottom: 0;
  -webkit-filter: blur(10px) saturate(2);
  -ms-filter: blur(10px) saturate(2);
  filter: blur(10px) saturate(2);
}

.box-header-title {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: relative;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  line-height: 1.5;
  cursor: default;
  height: 25px;
  padding: 2px 67px 2px 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  background: #13131370;
  border-radius: 4px 4px 0 0;
}

.box-body-inner {
  position: absolute;
  padding: 0;
  background: rgb(31 31 31 / 5%);
  height: calc(100% - 25px);
  z-index: 1;
  color: #fff;
  font-size: 12px;
  overflow: hidden;
  width: 100%;
  border-radius: 0px 0px 9px 9px;
}

.os-exit {
    right: 11px;
    /* font-size: 20px; */
    position: absolute;
    width: 12px;
    height: 15px;
}
  
.os-full {
    right: 53px;
    /* font-size: 20px; */
    position: absolute;
    width: 12px;
    height: 15px;
}
  
.os-mini {
    right: 32px;
    /* font-size: 20px; */
    position: absolute;
    width: 12px;
    height: 15px;
}

.resize,
.dresize {
  opacity: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.resize {
  opacity: 0;
  padding: 0;
  position: absolute;
  z-index: 99999999999999999999999999999999999999999999999999;
}

.leftResize,
.rightResize {
  height: calc(100% - 20px);
  width: 6px;
  background: blue;
  top: 50%;
  transform: translateY(-50%);
}

.leftResize {
  left: -5px;
}

.rightResize {
  right: -5px;
  height: 100%;
}

.leftResize:hover,
.rightResize:hover {
  cursor: ew-resize;
}

.topResize:hover,
.bottomResize:hover {
  cursor: ns-resize;
}

.topResize,
.bottomResize {
  height: 6px;
  width: calc(100% - 20px);
  left: 50%;
  transform: translateX(-50%);
}

.topResize {
  top: -5px;
}

.bottomResize {
  bottom: -8px;
  width: 100%;
}

.dresize {
  position: absolute;
}

.topLeftResize {
  left: -6px;
  top: -6px;
}

.topRightResize {
  right: -6px;
  top: -6px;
}

.bottomLeftResize {
  left: -6px;
  bottom: -9px;
}

.bottomRightResize {
  right: -6px;
  bottom: -9px;
}

.bottomRightResize,
.bottomLeftResize {
  height: 19px;
  width: 19px;
}

.topLeftResize,
.bottomRightResize {
  cursor: nwse-resize;
}

.bottomLeftResize,
.topRightResize {
  cursor: nesw-resize;
}

.appFrame {
    width: 100%;
    height: 100%;
    border-color: #ffffff00;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}